$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

$y-axis: 18rem;

$font-stack: 'Poppins', sans-serif;

@mixin border_top_colorize($property) {
    border-top: 0.5rem solid $property;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: $font-stack;
    font-size: 1.5rem;
    background-color: $very-light-gray;
    padding: 3%;
}

section {
    text-align: center;
    p {
        color: $grayish-blue;
        max-width: 45%;
        margin: auto;
        line-height: 3rem;
    }
}

h2 {
    font-size: 4rem;
}

h2:nth-of-type(1) {
    margin-top: 5rem;
    font-weight: 200;
    color: $very-dark-blue;
}

h2:nth-of-type(2) {
    margin-top: -3rem;
    color: $very-dark-blue;
}

.card-wrapper {
    margin-top: -12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.card-wrapper > div {
    background-color: white;
    padding: 3.5rem;
    border-radius: 1rem;
    box-shadow: 7px 11px 32px -4px rgba(125,125,125,0.87);

    h3 {
        font-size: 2.5rem;
    }
    
    p {
        color: $grayish-blue;
        line-height: 3rem;
    }

    img {
        float: right;
        margin-top: 5rem;
    }

    
}

.card_supervisor {
    grid-row: 2;
    @include border_top_colorize($cyan);
}

.card_team {
    grid-column: 2;
    @include border_top_colorize($red);
    position: relative;
    top: $y-axis;
}

.card_karma {
    grid-column: 3;
    grid-row: 2;
    @include border_top_colorize($orange);
}

.card_calculator {
    grid-column: 2;
    grid-row: 3;
    @include border_top_colorize($blue);
    position: relative;
    top: -$y-axis;
}

@media only screen and (max-width: 1000px) {
    .card-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        margin-top: 3rem;
    }

    .card_calculator, .card_team {
        position: static;
    }

    div[class^="card_"] {
        grid-row: initial;
        grid-column: initial;
    }
}

@media only screen and (max-width: 968px) {
    section {
        p {
            max-width: 60%;
        }
    }
}